html,
    body {
      height: 100%;
      color: #111;
      background-color: bisque;
      overflow-y: hidden;
    }

    body,
    h1,
    h3,
    input {
      padding: 0;
      margin: 0;
      outline: none;
      font-family: Roboto, Comic Sans MS, sans-serif;
      font-size: 16px;
      color: #666;
    }

    h1,
    h3 {
      padding: 12px 0;
      font-weight: 400;
    }

    h1 {
      font-size: 32px;
    }

    .main-block,
    .info {
      display: flex;
      flex-direction: column;
    }

    .main-block {
      justify-content: center;
      align-items: center;
      margin-top: 150px;
      margin-left: 400px;
      width: 60%;
      
      background: url("/uploads/media/default/0001/01/49bff73f282c2c21f3341f1fe457fe35337b1792.jpeg") no-repeat center;
      background-size: cover;
    }

    form {
      width: 86%;
      padding: 20px;
      margin-bottom: 20px;
      border-radius: 10px;
      border: solid 1px #ccc;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, .31);
      background: white;
    }

    .info-item {
      width: 100%;
    }

    input {
      width: calc(100% - 57px);
      height: 36px;
      padding-left: 10px;
      margin: 0 0 12px -5px;
      border-radius: 0 5px 5px 0;
      border: solid 1px #cbc9c9;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, .09);
      background: #fff;
    }

    .icon {
      padding: 9px 15px;
      margin-top: -1px;
      border-radius: 5px 0 0 5px;
      border: solid 0px #cbc9c9;
      background: #666;
      color: #fff;
    }

    input[type=radio] {
      display: none;
    }

    label.radio {
      position: relative;
      display: inline-block;
      text-indent: 32px;
      cursor: pointer;
    }

    label.radio:before {
      content: "";
      position: absolute;
      left: 0;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 0.5px solid #8ebf42;
      background: #fff;
    }

    label.radio:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 4px;
      top: 5px;
      left: 4px;
      border-bottom: 3px solid #8ebf42;
      border-left: 3px solid #8ebf42;
      transform: rotate(-45deg);
      opacity: 0;
    }

    input[type=radio]:checked+label:after {
      opacity: 1;
    }

    textarea {
      width: 99%;
      margin-bottom: 12px;
    }

    button {
      width: 100%;
      padding: 8px;
      border-radius: 5px;
      border: none;
      background: #1b206e;
      font-size: 14px;
      font-weight: 600;
      color: #fff;
    }

    button:hover {
      background: #6e71a3;
    }

    .grade-type div {
      display: flex;
      margin: 6px 0;
    }

    @media (min-width: 568px) {
      .info {
        flex-flow: row wrap;
        justify-content: space-between;
      }

      .info-item {
        width: 48%;
      }
    }

    .rate {
      float: left;
      height: 46px;
      padding: 0 10px;
    }

    .rate:not(:checked)>input {
      position: absolute;
      top: -9999px;
    }

    .rate:not(:checked)>label {
      float: right;
      width: 1em;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
      font-size: 30px;
      color: #ccc;
    }

    .rate:not(:checked)>label:before {
      content: '★ ';
    }

    .rate>input:checked~label {
      color: #ffc700;
    }

    .rate:not(:checked)>label:hover,
    .rate:not(:checked)>label:hover~label {
      color: #deb217;
    }

    .rate>input:checked+label:hover,
    .rate>input:checked+label:hover~label,
    .rate>input:checked~label:hover,
    .rate>input:checked~label:hover~label,
    .rate>label:hover~input:checked~label {
      color: #c59b08;
    }